@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset e estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    line-height: 1;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #F5F6F8;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

/* Navbar */
nav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 70px;
    width: 100%;
    padding: 0 15px 0 10px;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: #313443;
}

.nav-left {
    display: flex;
    align-items: center;
}

.menu-icon:hover {
    background-color: #dadada;
}

.nav-left h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    margin-left: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
}

/* Switch de tema */
.checkbox {
    position: absolute;
    opacity: 0;
}

nav .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 30px;
    width: 55px;
    transform: scale(0.9);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 25px;
    width: 25px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.bi-brightness-high-fill {
    color: #f1c40f;
}

.bi-moon-fill {
    color: #fff;
}

/* Sidebar */
.sidebar-navigation {
    position: fixed;
    display: inline-block;
    min-height: 100vh;
    width: 80px;
    background-color: #313443;
    float: left;
    z-index: 8;
}

.sidebar-navigation ul {
    text-align: center;
    margin-top: 70px;
    color: white;
}

.sidebar-navigation ul li {
    padding: 28px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
    position: relative;
}

.sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #313443;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: .5px;
}

.sidebar-navigation ul li .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: #22252E;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active {
    background-color: #22252E;
}

.sidebar-navigation ul li.active i {
    color: #98D7EC;
}

/* Container de Progresso */
.progress-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    top: 70px;
    z-index: 7;
}

/* Estilo das Etapas */
.progress-step {
    position: relative;
    height: 60px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3A404A;
    color: #e0e0e0;
    font-weight: 600;
    cursor: pointer;
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%);
    border: 3px solid #3A404A;
    transition: all 0.3s ease;
}

/* Etapa concluída */
.progress-step.completed {
    background: #3A404A;
    border-color: #3A404A;
}

.progress-step.completed p {
    color: #f0f0f0;
}

/* ====== Estilo para Etapa Ativa ====== */
.progress-step.active {
    background: #FFC107;
    border-color: #FFC107;
    color: #333;
}

/* Linha inferior no texto da etapa ativa */
.progress-step.active p {
    border-bottom: 2px solid #333;
}

/* Estilo para o texto das etapas */
.progress-step p {
    margin: 0;
    font-size: 14px;
    padding-bottom: 2px;
    white-space: nowrap;
}

/* ====== Etapas Pendentes ====== */
.progress-step.pending {
    opacity: 0.5;
}

.progress-step.completed {
    background: #4CAF50;
    border-color: #4CAF50;
    color: #d1d1d1;
}

/* ====== Conteúdo Principal ====== */
.enrollment-container {
    width: 80%;
    height: 65%;
    max-width: 800px;
    min-width: 320px;
    min-height: 400px;
    max-height: 600px;
    margin: 150px auto 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    justify-content: space-between;
}

.enrollment-container {
    display: none;
}

.event-container {
    display: flex;
    width: 80%;
    height: 65%;
    max-width: 950px;
    min-width: 320px;
    min-height: 400px;
    max-height: 600px;
    margin: 150px auto 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.event-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    cursor: pointer;
    background-color: #f9f9f9;
}

.event-group:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.event-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.event-header img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 15px;
}

.event-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.event-info p {
    margin: 4px 0 0;
    color: #666;
    font-size: 14px;
}

.event-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.event-details p {
    margin: 0;
    background-color: #eee;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    color: #444;
}

.select-event-btn {
    align-self: flex-end;
    background-color: #FFC107;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    bottom: 20px;
}

.select-event-btn:hover {
    background-color: #e6ac00;
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

/* ====== Estilo do Título da Etapa ====== */
#step-title {
    font-size: 1.8rem;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
    font-weight: bold;
    color: #2c3e50;
    text-transform: capitalize;
    letter-spacing: 1px;
}

/* Estilo dos Cards - Inicialmente ocultos */
.card-default, 
.card-inscription-unique, 
.card-inscription-group, 
.card-list-group, 
.card-confirmation {
    display: none;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 20px;
    height: 100%;
    flex-direction: column;
}

/* Exibe o card quando a classe 'show' for adicionada */
.card-default.show,
.card-inscription-unique.show,
.card-inscription-group.show,
.card-list-group.show,
.card-confirmation.show {
    display: flex;
}

/* Card de Escolha do Tipo de Inscrição */
.card-default {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.card-default p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.responsible-group {
    position: relative;
    margin: 20px 0;
    width: 320px;
}

.responsible-group input {
    width: 100%;
    height: 38px;
    padding: 14px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.responsible-group input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

.responsible-group label {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease all;
    background: white;
    padding: 0 6px;
}

/* floating label quando focado ou preenchido */
.responsible-group input:focus + label,
.responsible-group input:not(:placeholder-shown) + label {
    top: -1px;
    left: 10px;
    font-size: 12px;
    color: #4a90e2;
}

/* Estilo do conteúdo no card */
.card-default .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    width: 100%;
}

/* Estilo dos labels dentro do card-default */
.card-default .options label {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

/* Estilo dos radio buttons */
.card-default .options input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #3498db;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}

/* Quando selecionado */
.card-default .options input[type="radio"]:checked {
    background-color: #3498db;
    border-color: #2980b9;
}

/* Adiciona um ponto interno quando selecionado */
.card-default .options input[type="radio"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ====== Card de inscrição grupo ====== */
.card-inscription-group {
    justify-content: flex-start;
    gap: 10px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed #33C581;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: background 0.3s ease, border-color 0.3s ease;
}

/* Efeito de hover e arrastar */
.upload-container:hover,
.upload-container.drag-over {
    background-color: #eef9f4;
    border-color: #23a066;
}

/* Esconder input padrão */
#file-upload {
    display: none;
}

/* Estilização do botão de upload */
.btn-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Ícone e texto do botão */
.upload-icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

.upload-text {
    color: #33C581;
    font-weight: bold;
}

.btn-upload:hover .upload-text {
    color: #23a066;
    text-decoration: underline;
}

/* Exibir nome do arquivo após seleção */
.file-name {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
    font-weight: bold;
    opacity: 0.5;
    user-select: none;
}

.users {
    font-style: italic;
    opacity: 1;
    text-decoration: underline;
    user-select:auto ;
}

.download-section {
    padding: 10px;
    border-radius: 8px;
    text-align: start;
}

/* Ajuste para o texto ficar mais equilibrado */
.download-section p {
    font-size: 0.95rem;
    color: #333;
    font-weight: 500;
    margin: 0; /* Remove margens extras */
}

/* Estiliza o link dentro do texto */
.download-link {
    color: #3498db;
    font-weight: bold;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
    color: #2980b9;
}

/* Contêiner da tabela */
.table-container {
    overflow-x: auto;
    margin-bottom: 15px;
}

/* === card de lista ===*/
.card-list-group {
    overflow: hidden;
}

.card-list-group p {
    margin-bottom: 10px;
}

.table-container {
    height: 75%;
}
/* Tabela de inscritos */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

/* Cabeçalho da tabela */
thead th {
    background-color: #017143;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    text-align: left;
}

/* Linhas da tabela */
tbody tr {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Células da tabela */
td, th {
    padding: 12px;
    border: 1px solid #ddd;
}

/* ====== Card de confirmação ====== */
.card-confirmation {
    justify-content: space-between;
    overflow-y: auto;
}

/* ====== Título do Card ====== */
.card-confirmation h2 {
    font-size: 1.6rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 5px;
}

/* ====== Cabeçalho das Colunas ====== */
.detail-header {
    display: grid;
    grid-template-columns: 40% 35% 25%;
    padding: 10px 0;
    font-weight: bold;
    background-color: #f0f4f8;
    color: #2c3e50;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* ====== Alinhamento das Colunas no Cabeçalho ====== */
.detail-header .label {
    text-align: left;
}

.detail-header .quantity {
    text-align: end;
    padding-left: 15px; /* Desloca mais à direita */
}

.detail-header .value {
    text-align: right;
    padding-right: 10px;
}

/* ====== Alinhamento das Colunas no Cabeçalho ====== */
.detail-header .label {
    text-align: left;
}

.detail-header .quantity {
    text-align: end;
    padding-left: 10px;
}

.detail-header .value {
    text-align: right;
    padding-right: 10px;
}

/* ====== Detalhes de Confirmação ====== */
.confirmation-details {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
}

/* ====== Itens de Detalhe ====== */
.detail-item {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    padding: 8px 0;
    font-size: 1rem;
    align-items: center;
    color: #555;
}

/* ====== Estilização dos Labels (Nome do Tipo) ====== */
.detail-item .label {
    font-weight: 500;
    text-align: left;
}

/* ====== Estilização da Quantidade (Levemente à Direita) ====== */
.detail-item .value:nth-child(2) {
    text-align: end;
    padding-left: 15px; /* Aumentar o deslocamento */
}

/* ====== Estilização do Valor (Totalmente à Direita) ====== */
.detail-item .value:nth-child(3) {
    text-align: right;
    padding-right: 10px;
}

/* ====== Estilização do Total Geral ====== */
.total .label {
    font-weight: bold;
    color: #1d4ed8;
}

.total .value {
    font-weight: bold;
    color: #1d4ed8;
}

/* ====== Separador ====== */
.separator {
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
}

/* ====== Aviso ====== */
.warning {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 40px;
    text-align: center;
}


/* ====== Botões de Navegação ====== */
.next-btn, .prev-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    position: absolute;
    bottom: 20px;
}

/* Botão "next" */
.next-btn {
    background-color: #FFC107;
    color: #fff;
    align-self: flex-end;
    right: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* Efeito para o botão "next" quando desabilitado */
.next-btn:disabled {
    background-color: #ddd; /* Cor de fundo mais suave */
    color: #aaa; /* Cor de texto mais suave */
    cursor: not-allowed; /* Cursor indicando que está desabilitado */
    opacity: 0.6; /* Reduz a opacidade para dar a sensação de desabilitado */
}

/* Botão "prev" (no canto inferior esquerdo) */
.prev-btn {
    background-color: #3498db;
    color: #fff;
    left: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito para o botão "prev" quando desabilitado */
.prev-btn:disabled {
    background-color: #ddd; /* Cor de fundo mais suave */
    color: #aaa; /* Cor de texto mais suave */
    cursor: not-allowed; /* Cursor indicando que está desabilitado */
    opacity: 0.6; /* Reduz a opacidade para dar a sensação de desabilitado */
}

/* Estilo para os botões de navegação ao passar o mouse */
.next-btn:hover {
    background-color: #e6ac00;
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.prev-btn:hover {
    background-color: #2291da;
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

/* ====== Loader da pagina ====== */
.simple-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    animation: spin 1s linear infinite;
    z-index: 1001; /* Certifique-se que o loader esteja acima do fundo escuro */
}

/* Fundo escuro */
.loader-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Abaixo do loader, mas acima de tudo */
}

/* Animação de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Para esconder o loader */
.hiddenLoader {
    display: flex;
}

/* ====== PopUp de ====== */
.error-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Conteúdo do popup */
.error-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px; /* Aumenta a largura */
    min-height: 200px; /* Define altura mínima */
    position: relative;
    animation: swing 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Garante que o conteúdo seja centralizado verticalmente */
    align-items: center; /* Garante que o conteúdo seja centralizado horizontalmente */
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Botão "X" para fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #c9302c;
    font-weight: bold;
}

/* Título do erro */
.error-content h3 {
    margin-bottom: 25px;
    color: #d9534f; /* Vermelho para destacar o erro */
}

/* Mensagem de erro */
.error-content p {
    margin: 10px 0;
}

/* Emoji que fica parcialmente fora do popup */
.error-emoji {
    font-size: 40px;
    position: absolute;
    top: -20px; /* Controla a parte de cima do emoji */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza exatamente */
    z-index: 2;
}

/* Esconde o popup por padrão */
.hiddenError {
    display: none;
}


/* ==================== */
/* === DARK MODE CSS === */
/* ==================== */
body.dark-mode {
    background-color: #212529;
    color: #e0e0e0;
}

/* Navbar em Dark Mode */
body.dark-mode nav {
    background-color: #2A2F38;
}

body.dark-mode .nav-left h1 {
    color: #e0e0e0;
}

/* Sidebar em Dark Mode */
body.dark-mode .sidebar-navigation {
    background-color: #2A2F38;
}

body.dark-mode .sidebar-navigation ul li {
    color: #e0e0e0;
}

body.dark-mode .sidebar-navigation ul li:hover {
    background-color: #3A404A;
}

body.dark-mode .sidebar-navigation ul li.active {
    background-color: #3A404A;
}

body.dark-mode .sidebar-navigation ul li.active i {
    color: #98D7EC;
}

/* Tooltip em Dark Mode */
body.dark-mode .sidebar-navigation ul li .tooltip {
    background-color: #3A404A;
    color: #e0e0e0;
}

body.dark-mode .sidebar-navigation ul li .tooltip:before {
    background-color: #3A404A;
}

/* Switch de Tema em Dark Mode */
body.dark-mode .label {
    background-color: #3A404A;
}

body.dark-mode .label .ball {
    background-color: #98D7EC;
}

/* ====== Estilo das Etapas no Dark Mode ====== */
body.dark-mode .progress-step {
    background: #3A404A;
    border-color: #3A404A;
    color: #e0e0e0;
}

/* Etapa ativa com destaque em amarelo escuro */
body.dark-mode .progress-step.active {
    background: #FFC107;
    border-color: #FFC107;
    color: #333;
}

/* Linha inferior para destacar o texto da etapa ativa */
body.dark-mode .progress-step.active p {
    border-bottom: 2px solid #333;
}

/* Etapas concluídas com verde escuro */
body.dark-mode .progress-step.completed {
    color: #fff;
}

/* Texto das etapas */
body.dark-mode .progress-step p {
    margin: 0;
    font-size: 14px;
    padding-bottom: 2px;
}

/* Etapas pendentes com menor opacidade */
body.dark-mode .progress-step.pending {
    opacity: 0.5;
}

body.dark-mode .progress-step.completed {
    background: #4CAF50;
    border-color: #4CAF50;
    color: #d1d1d1;
}

/* ====== Dark Mode para os Cards ====== */
body.dark-mode .enrollment-container {
    background-color: #373e4a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Dark Mode para os cards individuais */
body.dark-mode .card-default,
body.dark-mode .card-inscription-unique,
body.dark-mode .card-inscription-group,
body.dark-mode .card-list-group,
body.dark-mode .card-confirmation {
    background-color: #2A2F38;
    color: #e0e0e0;
    border: 1px solid #3A404A;
    padding: 20px;
    border-radius: 8px;
}

/* Estilizando o título da etapa */
body.dark-mode #step-title {
    color: #FFC107; 
}

/* Botões no Dark Mode */
body.dark-mode .next-btn,
body.dark-mode .prev-btn {
    background-color: #3A404A;
    color: #e0e0e0;
}

body.dark-mode .next-btn:hover,
body.dark-mode .prev-btn:hover {
    background-color: #FFC107;
    color: #333;
}

/* Estilos quando em dark mode */
body.dark-mode .upload-container {
    background-color: #333;
    border-color: #444;
}

body.dark-mode .upload-container:hover,
body.dark-mode .upload-container.drag-over {
    background-color: #444;
    border-color: #23a066;
}

/* Estilos quando em dark mode */
body.dark-mode .btn-upload {
    color: #fff;
}

body.dark-mode .btn-upload:hover .upload-text {
    color: #23a066;
}

body.dark-mode .upload-text {
    color: #A9D08E;
}

/* Estilos quando em dark mode */
body.dark-mode #file-name {
    color: #ccc;
}

/* Estilos quando em dark mode */
body.dark-mode .download-section p {
    color: #ddd;
}

/* Estilos quando em dark mode */
body.dark-mode .download-link {
    color: #76b8f7;
}

body.dark-mode .download-link:hover {
    color: #1f70a3;
}

/* Dark Mode */
body.dark-mode {
    --popup-bg: #333; /* Cor de fundo no modo escuro */
    --popup-text: #fff; /* Cor do texto no modo escuro */
    --close-btn-color: #f0ad4e; /* Cor do botão de fechar no modo escuro */
    --popup-title-color: #f0ad4e; /* Cor do título no modo escuro */
}

body.dark-mode .error-content {
    background: var(--popup-bg);
    color: var(--popup-text);
}

body.dark-mode .close-btn {
    color: var(--close-btn-color);
}

body.dark-mode .error-content h3 {
    color: var(--popup-title-color);
}
