@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: "Roboto", sans-serif;
    background-color: #dedede;
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    height: 90px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    background-color: #3c5672;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1001;
    transition: background-color 0.3s;
}

/* Navbar: Lado esquerdo */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 0.1em;
    transition: color 0.3s;
}

/* Navbar: Lado direito */
.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

h1 {
    margin-top: 110px;
}

.container-totais {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.total-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 220px;
    height: 120px;
}

.total-box h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.total-box p {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin: 10px 0 0;
}

#total-saida p {
    color: red !important;
}

.container-select {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    margin: 30px 0 0 10px;
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.downloadPDF {
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.downloadPDF:hover {
    background-color: #0056b3;
}

.table-inscricao, .table-conferencia{
    width: 95%;
    height: 500px;
    background-color: #1e1e1e;
    margin: 20px auto 0; /* Centraliza horizontalmente e mantém o espaçamento superior */
}

.container-tables {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.table-inscricao, .table-conferencia {
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px 10px 20px 0; /* Remove padding da esquerda (0 no último valor) */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Habilita rolagem horizontal se necessário */
    margin-bottom: 10px; /* Dá uma pequena margem na parte inferior da div */
}


h2 {
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    table-layout: fixed; /* Permite definir larguras específicas para as colunas */
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 8px;
    height: 50px;
    border: 1px solid #ddd;
    text-align: left;
    overflow: hidden;
    white-space: nowrap; /* Impede quebra de texto */
    text-overflow: ellipsis; /* Adiciona "..." caso o texto ultrapasse a largura */
}

/* Ajuste da largura das colunas */
th:nth-child(1), td:nth-child(1) { width: 4%; text-align: center;}  /* Nº */
th:nth-child(2), td:nth-child(2) { width: 9%; text-align: center;}  /* Tipo */
th:nth-child(3), td:nth-child(3) { width: 30%; }  /* Descrição */
th:nth-child(4), td:nth-child(4) { width: 15%; text-align: center;}  /* Valor */
th:nth-child(5), td:nth-child(5) { width: 20%; text-align: center;}  /* Data */
th:nth-child(6), td:nth-child(6) { width: 10%; }  /* Detalhes */

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Linha oculta para detalhes */
.details-row {
    background-color: #eef9ff; /* Azul claro para diferenciar */
    font-size: 0.9em;
}

.details-container {
    padding: 10px;
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    gap: 10px; /* Espaçamento entre os elementos */
    text-align: start;
    align-items: flex-start; /* Garante alinhamento vertical */
    border: 1px solid #ddd; /* Um contorno para os elementos de pagamento */
    border-radius: 4px; /* Bordas arredondadas para um visual mais suave */
    background-color: #f9f9f9; /* Cor de fundo */
}

.payments-container {
    display: flex;
    justify-content: flex-start; /* Distribui os itens lado a lado */
    gap: 20px; /* Espaço entre os detalhes */
}


/* Botão de detalhes */
.btn-detalhes {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
    font-size: 1em;
}

.btn-detalhes:hover {
    color: #0056b3;
}

.tipo-entrada{
    background-color: rgb(0, 128, 0);
    color: #fff;
}

.tipo-saida{
    background-color: red;
    color: #fff;
}

/* loader */
.simple-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    animation: spin 1s linear infinite;
    z-index: 11; /* Certifique-se que o loader esteja acima do fundo escuro */
}

.loader-background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 10; /* Abaixo do loader, mas acima de tudo */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
