@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box; /* Inclui padding e borda nas dimensões do elemento */
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Fundo claro */
    color: #333; /* Cor do texto */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Para ocupar a altura total da janela */
}

nav {
    display: flex;
    align-items: center;
    height: 70px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    background-color: #3c5672;;
    width: 100%; 
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 0.1em;
}

.main-container {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo principal (second-container) */
    align-items: center;
    gap: 20px; /* Espaço entre o account-payment e o second-container */
    height: 100vh; /* Altura total da tela */
    padding: 0 20px;
    position: relative;
}

.second-container {
    flex: 1; /* Para ocupar o espaço disponível */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white; /* Fundo branco para o formulário */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    max-width: 600px; /* Largura máxima do formulário */
    position: relative; /* Para permitir que as sugestões sejam posicionadas */
}

h1 {
    margin-bottom: 20px;
    font-weight: 700; /* Mais destaque para o título */
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    position: relative; /* Necessário para o posicionamento absoluto da sugestão */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 12px; /* Aumenta o padding para conforto */
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s; /* Transição suave para foco */
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007BFF; /* Cor de destaque ao focar */
}

button {
    width: 100%;
    padding: 12px; /* Aumenta o padding do botão */
    background-color: #28a745; /* Cor de fundo do botão */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espaçamento acima do botão */
    transition: background-color 0.3s, box-shadow 0.3s; /* Adiciona transição para a sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

button:hover {
    background-color: #218838; /* Cor de destaque ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais intensa ao passar o mouse */
}

.popup, .popupError {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content, .popup-contentError {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 90%; /* Largura responsiva */
    max-width: 400px; /* Limite máximo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.close-btn, .close-btnError {
    color: #dc3545; /* Cor do botão de fechar */
    float: right;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
}

/* Sugestões */
.suggestions {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    display: none; /* Inicialmente oculto */
    position: absolute; /* Posiciona em relação ao input */
    background-color: #fff;
    z-index: 1000;
    top: 100%; /* Faz com que as sugestões apareçam diretamente abaixo do input */
    left: 0;
    right: 0;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* Cor de destaque ao passar o mouse */
}

/* Responsividade */
@media (max-width: 600px) {
    nav ul li {
        margin: 0 10px; /* Reduz espaçamento em telas menores */
    }

    button {
        font-size: 14px; /* Reduz tamanho da fonte do botão */
    }
}

@media (max-width: 480px) {
    .main-container {
        flex-direction: column; /* Empilha os elementos verticalmente em telas muito pequenas */
        align-items: center;
        padding: 0;
    }

    .account-payment {
        position: static !important; /* Remove o posicionamento absoluto para alinhar no fluxo normal */
        margin: 20px 0 5px 0;
        text-align: center !important; /* Centraliza o texto em telas muito pequenas */
        max-width: 450px;
    }

    .second-container {
        transform: scale(0.97);
        width: 100%; /* Ocupa toda a largura */
    }
}

.simple-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    animation: spin 1s linear infinite;
    z-index: 1001; /* Certifique-se que o loader esteja acima do fundo escuro */
}

/* Fundo escuro */
.loader-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 1000; /* Abaixo do loader, mas acima de tudo */
}

/* Animação de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Para esconder o loader */
.hidden {
    display: none;
}

/* Estilo personalizado para o campo de arquivo */
input[type="file"] {
    display: none; /* Oculta o input de arquivo padrão */
}

.custom-file-upload {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white;
    border: 1px solid #007bff; /* Cor da borda */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s; /* Transição para a sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
}

.custom-file-upload:hover {
    background-color: #0056b3; /* Cor de destaque ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
}

.custom-file-upload:active {
    background-color: #004494; /* Cor ao clicar */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Sombra mais leve ao clicar */
}

.file-name {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
    text-align: center;
}

/* Remove as setas do input number em navegadores Webkit (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Remove a margem, se necessário */
}

/* Remove as setas do input number em Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Muda a aparência para um campo de texto, removendo as setas */
}

.account-payment {
    position: absolute;
    left: 100px; /* Posiciona 20px à esquerda */
    font-family: Arial, sans-serif;
    text-align: center; /* Alinha o texto à esquerda */
    max-width: 450px;
}

.account-payment p {
    font-size: 16px;
    margin: 5px 0;
}

.account-payment p strong {
    font-weight: bold;
}

.account-payment a {
    color: blue;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.account-payment span {
    color: #333;
    opacity: 90%;
}


