@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
}


nav {
    display: flex;
    align-items: center;
    height: 90px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    background-color: #3c5672;
    width: 100%;
    padding: 0 20px;
    position: fixed; /* Fixa a navbar no topo da tela */
    top: 0; /* Fica sempre no topo */
    z-index: 1000; /* Garante que a navbar fique sobre outros elementos */
}

.nav-left {
    display: flex;
    align-items: center;
}

.connection-status {
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
}

.online {
    color: green;
}

.offline {
    color: red;
}


.nav-right {
    margin-left: auto; /* Empurra o conteúdo para a direita */
    display: flex;
    align-items: center;
}

.nav-left a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 0.1em;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

nav .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 30px;
    width: 55px;
    transform: scale(0.9);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 25px;
    width: 25px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.bi-brightness-high-fill {
    color: #f1c40f;
}

.bi-moon-fill {
    color: #fff;
}

/* container principal*/
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 110px;
    width: 100%;
    position: relative;
    padding-bottom: 0;
}

.container-left {
    flex: 1; /* Permite que o elemento ocupe todo o espaço restante */
    min-width: 80%; /* Garante uma largura mínima */
    height: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: relative;
}

.container-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 620px;
    height: 70px;
}

.search {
    display: flex;
    align-items: end;
    height: 100%;
    margin-bottom: 5px;
    gap: 20px;
    margin-left: 20px;
}

.search-locality {
    width: 100px;
    height: 40px;
    background-color: #28a745;
    color: #fff;
    border-radius: 8px;
    border: none; /* Removido o border, pode ser desnecessário */
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s; /* Adiciona transição para a sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

.download-report {
    width: 130px;
    height: 40px;
    background-color: #28a745;
    color: #fff;
    border-radius: 8px;
    border: none; /* Removido o border, pode ser desnecessário */
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s; /* Adiciona transição para a sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
};

.search-locality:hover {
    background-color: #218838; /* Cor de destaque ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais intensa ao passar o mouse */
}

.download-report:hover {
    background-color: #218838; /* Cor de destaque ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais intensa ao passar o mouse */
};

.label-locality {
    margin: 0 0 5px 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

#input1 {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 450px;
    box-sizing: border-box;
    text-transform: uppercase;
}

#input1::placeholder {
    color: #828282;
    font-size: 0.9rem;
}

#suggestions {
    display: none;
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    color: #000;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.data-locality {
    display: flex;
    width: 80%;
    margin: 30px 0 0 40px;
    flex-direction: column;
    height: 150px;
}

.first-column-data {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.second-column-data {
    display: flex;
    width: 60%;
    height: 50%;
    justify-content: space-between;
}

.data {
    display: flex;
    align-items: start;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 2px;
}
.data-second {
    display: flex;
    align-items: start;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 2px;
    width: 100px;
    margin-top: 20px;
}

.data-locality-name, .data-locality-qtd, .data-locality-responsible{
    font-weight: bold;
    font-size: 1.4rem;
}

.data-06-qtd, .data-710-qtd, .data-10more-qtd, .data-service-qtd, 
.data-participation-qtd {
    font-weight: bold;
    font-size: 1.6rem;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 170px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 5px;
    background-color: #28a745;
    user-select: none;
}

.table-locality {
    display: flex; /* Alinha as tabelas lado a lado */
    justify-content: space-between; /* Dá espaço entre as tabelas */
    margin: 40px 0 20px 10px;
}

.first-table, .second-table {
    display: flex;
    flex-direction: column;
    width: 48%; /* Ajusta a largura das tabelas para ficarem lado a lado */
}

.second-table {
    display: flex;
    flex-direction: column; /* Mantém o título acima da tabela */
    align-items: flex-start; /* Por padrão, alinha os elementos ao início */
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 10px; /* Espaço entre o título e a tabela */
    color: #3c5672;
    font-weight: bold;
    text-transform: uppercase;
}

.second-table h1 {
    margin-left: 115px;
}

.locality-table {
    display: block;
    width: 100%; /* Ou 50% no caso da .table-payments */
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    overflow-y: auto;
    max-height: 400px; /* Define a altura máxima da tabela */
    table-layout: fixed; /* Garante que as colunas respeitem as larguras */
}

.locality-table tbody{
    display: block; /* Faz o <tbody> atuar como um contêiner */
    max-height: 320px; /* Define a altura máxima */
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
    width: 100%; /* Garante que o <tbody> ocupe toda a largura da tabela */
}

.table-payments tbody {
    display: block; /* Faz o <tbody> atuar como um contêiner */
    max-height: 320px; /* Define a altura máxima */
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
    width: 100%; /* Garante que o <tbody> ocupe toda a largura da tabela */
}

.locality-table thead,
.table-payments thead {
    display: table; /* Garante que o cabeçalho seja fixo */
    width: 100%;
    table-layout: fixed; /* Mantém as larguras consistentes */
}

.locality-table tbody tr,
.table-payments tbody tr {
    display: table; /* Mantém o layout das linhas */
    width: 100%; /* Garante que cada linha ocupe a largura da tabela */
    table-layout: fixed; /* Alinha com a definição do cabeçalho */
}

.locality-table th, 
.locality-table td {
    padding: 12px 16px;
    border: 1px solid #ddd;
}

.locality-table th {
    background-color: #3c5672;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.locality-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.locality-table td:last-child {
    text-align: center;
}

/* Largura das colunas */
.col-number {
    width: 10%; /* Controla a largura da coluna "Nº" */
}

.col-locality {
    width: 40%; /* Controla a largura da coluna "Localidade" */
}

.col-payment {
    width: 25%; /* Controla a largura da coluna "Pagamento" */
}

.col-status {
    width: 25%; /* Controla a largura da coluna "Status" */
}

.open {
    background-color: rgb(229, 62, 62);
}

.closed {
    background-color: #28a745;
}

/* Estilo para .table-payments */
.table-payments {
    display: block;
    width: 80%; /* Ou 50% no caso da .table-payments */
    margin-left: auto;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    overflow-y: auto;
    max-height: 400px; /* Define a altura máxima da tabela */
    table-layout: fixed; /* Garante que as colunas respeitem as larguras */
}

.hidden {
    display: none;
}

.table-payments th, 
.table-payments td {
    padding: 12px 16px;
    border: 1px solid #ddd;
}

/* Cabeçalho com fundo e texto estilizado */
.table-payments th {
    background-color: #3c5672;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

/* Listras em linhas pares */
.table-payments tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Controle de largura das colunas */
.payment-number {
    width: 10%; /* Ajuste conforme necessário */
}

.payment-value {
    width: 90%; /* Ajuste conforme necessário */
}

/* Personalização da barra de rolagem */
.locality-table tbody::-webkit-scrollbar,
.table-payments tbody::-webkit-scrollbar {
    width: 8px;
}

.locality-table tbody::-webkit-scrollbar-thumb,
.table-payments tbody::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.locality-table tbody::-webkit-scrollbar-thumb:hover,
.table-payments tbody::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.no-data-message {
    margin: 40px auto;
    padding: 15px 20px;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    font-size: 1rem;
    max-width: 70%;
    user-select: none;
}

.container-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.saldo-total, .saldo-devedor {
    display: none;
    align-items: center;
    flex-direction: column;

}

.saldo-total {
    margin-bottom: 20px;
}

.title-saldo {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.value {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Estilos para o container e prova de pagamento */
.container-bottom {
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.proof-payment {
    display: flex;
    margin: 30px 10px 10px 10px;
    width: 97%;
    height: 350px;
    align-items: center;
    border: 2px solid #333;
    border-radius: 0.5rem;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Estilos para cada comprovante */
.comprovante {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

/* Estilos para as imagens dentro de cada comprovante como miniaturas */
.comprovante img {
    width: 150px; /* Tamanho fixo da miniatura */
    height: 100px; /* Tamanho fixo da miniatura */
    object-fit: cover; /* Mantém a proporção sem distorcer */
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.3s ease-in-out;
}

/* Controles de zoom */
.zoom-controls {
    position: absolute;
    top: 10px;
    left: 20px; /* Ajustando para a posição no canto esquerdo */
    display: flex;
    flex-direction: column; /* Empilhando os botões de cima para baixo */
    gap: 10px;
    z-index: 10;
}

.zoom-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    font-size: 20px; /* Tamanho do ícone */
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.zoom-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Estilo para o botão de fechar */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* Estilos da legenda da imagem */
#caption {
    margin-top: 15px;
    color: white;
    font-size: 18px;
}

/* Estilos para o botão de download */
.comprovante button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

/* Estilo para o botão de download quando o mouse passa por cima */
.comprovante button:hover {
    background-color: #45a049;
}

/* loader */
.simple-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    animation: spin 1s linear infinite;
    z-index: 1001; /* Certifique-se que o loader esteja acima do fundo escuro */
}

.loader-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 1000; /* Abaixo do loader, mas acima de tudo */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* dark mode */
body.dark-mode {
    background-color: #121212; /* Fundo principal escuro */
    color: #e0e0e0; /* Texto claro */
}

body.dark-mode nav {
    background-color: #1c1c1c;
}

body.dark-mode .locality-table th {
    background-color: #333;
}

body.dark-mode .locality-table tr:nth-child(even) {
    background-color: #fff;
    color: #000;
}

body.dark-mode .locality-table {
    background-color: #333;
}

body.dark-mode .card {
    background-color: #fff;
    color: #fff;
}

body.dark-mode .image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 6px 20px rgba(0, 0, 0, 0.19);
}

body.dark-mode .card span{
    color: #000;
}

body.dark-mode .card .svg {
    fill: #000;
}

body.dark-mode .label .title {
    color: #000;
}