@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset e estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    height: 90px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    background-color: #3c5672;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 9;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left h1 {
    color: #f2f2f2;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
}

.nav-right {
    margin-left: auto; 
    display: flex;
    margin-top: 40px;
    height: 100%;
}

body.dark-mode nav {
    background-color: #1c1c1c;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

nav .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 30px;
    width: 55px;
    transform: scale(0.9);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 25px;
    width: 25px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.bi-brightness-high-fill {
    color: #f1c40f;
}

.bi-moon-fill {
    color: #fff;
}

.container-verify {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.verify-box {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;  /* Largura mínima */
    min-height: 200px; /* Altura mínima */
}

.loading {
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid #4CAF50;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin{
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

.message {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.success {
    color: #4CAF50;
}

.bi-check-circle-fill {
    color: #4CAF50;
    font-size: 4rem;
}

.error {
    color: red;
}

.bi-x-octagon-fill {
    color: red;
    font-size: 4rem;
}

button {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin: 25px 10px 0 auto;
}

/* Definindo a cor de fundo do efeito no modo escuro */
body.dark-mode button {
    background: #ffd401;
}

body.dark-mode button span {
    color: #183153;
}

body.dark-mode button:hover span {
    color: #fff;
}

body.dark-mode button::after {
    background: #183153;
}

/* Efeito de hover para o modo escuro */
body.dark-mode button:hover::after {
    left: 0;
    width: 100%;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;  /* Cor padrão (não escura) */
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

/* Adicionando regras para o loader e fundo em telas menores */
@media (max-width: 480px) {

    .simple-loader {
        width: 40px; 
        height: 40px;
    }

    nav {
        padding: 0 10px;
    }

    .nav-left h1 {
        font-size: 1.1rem;
    }
    
    .container-verify {
        width: 95%;
    }
}